# Node dependencies
node_modules/



# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Uploads (if you don’t want to store uploaded files in repo)
uploads/

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db
